<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子どもマスタ｜子どものお小遣い帳アプリ</title>
</head>
<body>
    <header></header>
    <main>
        <h1>子どもマスタ</h1>
        <table border="1">
            <tr>
                <th>名前</th>
                <th>生年月日</th>
                <th>年齢</th>
            </tr>
            <tr>
                <td>ひろと</td>
                <td>2012/3/1</td>
                <td>9</td>
            </tr>
            <tr>
                <td>はるき</td>
                <td>2015/9/21</td>
                <td>6</td>
            </tr>
        </table>
        <a href="/children/register">子どもを登録</a>
    </main>
    <footer>
        <a href="/">トップページ</a>
    </footer>
</body>
</html>