<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子どもマスタ｜子どものお小遣い帳アプリ</title>
</head>
<body>
    <header></header>
    <main>
        <h1>子どもを登録</h1>
        <form method="POST" action="/children/registerConfirm">
            <table border="1">
                <tr>
                    <th>名前</th>
                    <td><input type="text" name="name"/></td>
                </tr>
                <tr>
                    <th>生年月日</th>
                    <td><input type="date" name="birthday"></td>
                </tr>
            </table>
            <input type="submit" value="登録内容を確認" />
        </form>
    </main>
    <footer>
        <a href="/">トップページ</a>
    </footer>
</body>
</html>