<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>子どもマスタ｜子どものお小遣い帳アプリ</title>
</head>
<body>
    <header>
        <div>
            ログイン時刻:<span th:text="${session.SESSION_LOGIN_DATETIME}"></span>
        </div>
    </header>
    <main>
        <h1>子どもを登録</h1>
        <div th:text="${message}"></div>
        <form method="POST" action="/children/registerConfirm" th:object="${childRegisterForm}">
            <table border="1">
                <tr>
                    <th>名前</th>
                    <td>
                        <input type="text" th:field="*{name}">
                        <span th:errors="*{name}"></span>
                    </td>
                </tr>
                <tr>
                    <th>生年月日</th>
                    <td>
                        <input type="date" th:field="*{birthday}">
                        <span th:errors="*{birthday}"></span>
                    </td>
                </tr>
            </table>
            <button onclick="location.href='/children';return false;">キャンセル</button>
            <input type="submit" value="登録内容を確認" />
        </form>
    </main>
    <footer>
        <a href="/">トップページ</a>
    </footer>
</body>
</html>