<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子どもマスタ｜子どものお小遣い帳アプリ</title>
</head>
<body>
    <header></header>
    <main>
        <h1>登録する子どもを確認</h1>
        <form method="POST" action="/children/registerFinish">
            <table border="1">
                <tr>
                    <th>名前</th>
                    <td>たろう</td>
                </tr>
                <tr>
                    <th>生年月日</th>
                    <td>2022/9/21</td>
                </tr>
            </table>
            <input type="submit" value="確定" />
        </form>
    </main>
    <footer>
        <a href="/">トップページ</a>
    </footer>
</body>
</html>