<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>子どものお小遣い帳アプリ</title>
</head>
<body>
    <header>
        <div>
            ログイン時刻:<span th:text="${session.SESSION_LOGIN_DATETIME}"></span>
        </div>
    </header>
    <main>
        <h1>お小遣い帳　CD5</h1>
        <table border="1">
            <tr>
                <th>日付</th>
                <th>誰が</th>
                <th>何をした</th>
                <th>いくらもらえる</th>
                <th>お小遣いの合計</th>
            </tr>
            <tr>
                <td>2022/2/12</td>
                <td>はるき</td>
                <td>食器洗い</td>
                <td>100</td>
                <td>250</td>
            </tr>
            <tr>
                <td>2022/2/12</td>
                <td>ひろと</td>
                <td>ゴミ捨て</td>
                <td>50</td>
                <td>150</td>
            </tr>
            <tr>
                <td>2022/2/11</td>
                <td>ひろと</td>
                <td>食器洗い</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </table>
    </main>
    <footer>
        <div>
            <a href="/okozukai">お小遣いを登録</a>
            <a href="/okozukai/use">お小遣いを使った</a>
        </div>
        <div>
            <a href="/children">子どもを登録</a>
            <a href="/help">お手伝いを登録</a>
        </div>
    </footer>
</body>
</html>