<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springhack.okozukaisystem.integration.mapper.ChildrenMapper">
    <select id="selectAll" resultType="com.springhack.okozukaisystem.integration.entity.ChildrenEntity">
        SELECT c.child_id, c.name, c.birthday FROM children c
    </select>

    <select id="findById" resultType="com.springhack.okozukaisystem.integration.entity.ChildrenEntity">
        SELECT c.child_id, c.name, c.birthday FROM children c WHERE c.child_id = #{childId}
    </select>

    <select id="findByName" resultType="com.springhack.okozukaisystem.integration.entity.ChildrenEntity">
        SELECT c.child_id, c.name, c.birthday FROM children c WHERE c.name = #{name}
    </select>

    <insert id="insert">
        INSERT INTO children (name, birthday) VALUES (#{name}, #{birthday})
    </insert>

    <update id="update">
        UPDATE children SET name = #{name}, birthday = #{birthday} WHERE child_id = #{childId}
    </update>

    <delete id="delete">
        DELETE FROM children WHERE child_id = #{childId}
    </delete>
</mapper>